<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body layout:fragment="modal-frag(modalId, modalTitulo)">

<section th:id="${modalId}" class="modal fade static" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    
    <div th:id="${modalId} + '-conteudo'" class="modal-content">
      
      <!-- Cabeçalho -->
      <header class="modal-header">
        <h5 th:text="${modalTitulo}" class="modal-title">(Título)</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      
      </header>
  
      <!-- Conteúdo - Deve ser substituido pelo conteúdo desejado -->
      <div id="modal-conteudo" layout:fragment="modal-conteudo-frag"></div>
    
    </div>
  
  </div>
</section>

</body>