<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

<!-- Modal de cadastro -->
<!-- TODO: Validação de formulário / Mostrar erros no modal (AJAX) -->

<!-- Insere o Modal, substituindo o ID e Título; e o Conteúdo pelo Form -->
<div th:assert="${palavra1}" th:fragment="modal-cadastro" th:remove="tag"
     layout:include="fragmentos/modalVazio :: modal(modalId='modal-cadastro', modalTitulo='CADASTRO DE SUJEITO')"
>
  
  <!-- Conteúdo do Modal -->
  <form layout:fragment="modal-conteudo" th:action="@{/pastaSujeito/salvar}" th:object="${palavra1}"
        method="post" enctype="multipart/form-data">
    
    <div class="modal-body">
      <div class="container">
        <div class="row align-items-center">
          
          <!-- Lado esquerdo (Imagem) -->
          <fieldset class="col-md-3 form-group">
            <img class="img-thumbnail d-block mx-auto" id="imagem-palavra" height="150" width="150"
                 th:src="*{id != null} ? @{*{url}} : @{images/placeholder.jpg}"
                 src="../../static/images/placeholder.jpg">
            
            <div id="grupo-input-imagem" class="mt-3">
              
              <!-- Botão real de upload (invisível) - Obrigatório para Novo Cadastro apenas -->
              <input id="input-imagem-real" name="imagem" type="file" th:required="*{id == null}"
                     accept="image/png, image/jpeg, image/jpg, image/gif">
              
              <!-- Botão falso que delega para outro botão invísivel (onclick) -->
              <input id="input-imagem-exibido" class="btn btn-block btn-info" type="button"
                     value="SELECIONAR"
                     onclick="$('#input-imagem-real').click()">
            </div>
          
          </fieldset>
          
          <!-- Lado direito (Campos) -->
          <fieldset class="col-md-8 form-group">
            
            <!-- Entrada Palavra-->
            <div class="form-group row">
              <label class="col-md-2 control-label font-weight-bold"
                     for="input-palavra">PALAVRA</label>
              <div class="col-md-6">
                <input class="form-control input-md" id="input-palavra" name="input-palavra"
                       required="" type="text" th:field="*{palavra}">
              </div>
            </div>
            
            <!-- Radio Sexo -->
            <div class="form-group row">
              <label class="col-md-2 control-label font-weight-bold">SEXO</label>
              
              <div class="col-md-8">
                <input id="grupo-sexo-0" name="grupo-sexo" type="radio" value="M" th:field="*{sexo}"
                       required="">
                <label class="radio-inline form-check form-check-inline" for="grupo-sexo-0">
                  MASCULINO
                </label>
                
                <input id="grupo-sexo-1" name="grupo-sexo" type="radio" value="F" th:field="*{sexo}"
                       required="">
                <label class="radio-inline form-check form-check-inline" for="grupo-sexo-1">
                  FEMININO
                </label>
              
              </div>
            </div>
            
            <!-- Radio Pronome -->
            <div class="form-group row">
              <label class="col-md-2 control-label font-weight-bold">PRONOME</label>
              
              <div class="col-md-6">
                <label class="radio-inline form-check form-check-inline" for="grupo-pronome-0">
                  <input checked="" id="grupo-pronome-0" name="grupo-pronome" type="radio"
                         value="EU" th:field="*{pronome}" required="">
                  EU
                </label>
                
                <label class="radio-inline form-check form-check-inline" for="grupo-pronome-1">
                  <input id="grupo-pronome-1" name="grupo-pronome" type="radio" value="VOCÊ"
                         th:field="*{pronome}" required="">
                  VOCÊ
                </label>
                
                <label class="radio-inline form-check form-check-inline" for="grupo-pronome-2">
                  <input id="grupo-pronome-2" name="grupo-pronome" type="radio" value="NÓS"
                         th:field="*{pronome}" required="">
                  NÓS
                </label>
              
              </div>
            </div>
          
          </fieldset>
        
        </div>
      </div>
    
    </div>
    
    <div class="modal-footer">
      <button type="reset" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
      <button type="submit" class="btn btn-primary">SALVAR</button>
    </div>
  
  </form>

</div>

<!-- Tabela de sujeito -->
<table th:fragment="tabela-sujeito" id="tabela-sujeito"
       class="table table-hover rtable table-sm table-bordered table-striped">
  
  <thead>
  <tr>
    <th scope="col" class="text-center">Imagem</th>
    <th scope="col">Sujeito</th>
    <th scope="col">Pessoa</th>
    <th scope="col">Sexo</th>
    <th scope="col" class="text-center">Editar</th>
  </tr>
  </thead>
  
  <tbody>
  <tr th:each="sujeito : ${todosSujeitosCadastrados}">
    
    <td class="text-center">
      <img class="img-thumbnail img-fluid d-block mx-auto"
           th:src="@{${sujeito.url}}"
           src="../../static/images/placeholder.jpg" width="60">
    </td>
    
    <td class="align-middle" th:text="${sujeito.palavra}">(Enfermeira)</td>
    <td class="align-middle" th:text="${sujeito.pronome}">(Eu)</td>
    <td class="align-middle" th:text="${sujeito.sexo}">(Feminino)</td>
    
    <td class="align-middle text-center">
      <button th:id="${sujeito.id}" type="button" class="btn btn-link botao-editar-cadastro">
        <i class="fas fa-edit fa-lg fa-fw"></i>
      </button>
    </td>
  
  </tr>
  </tbody>

</table>

</body>
</html>