<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragmentos/base/template">

<head>
  <title>Prancha de Comunicação</title>
  
  <link th:href="@{/css/prancha-comunicacao.css}" rel="stylesheet">
</head>

<body>

<div layout:fragment="topo-frag"
     layout:replace="fragmentos/prancha/topoReduzido :: topo-frag(imagem=${pacienteImagem})"></div>

<main layout:fragment="conteudo-frag" class="container-fluid">
  
  <div class="container-prancha" th:assert="${pacienteId}">
  
    <!-- TODO: Criar script de seleção de palavras e montagem de frases -->
    <!-- TODO: Voltar ao anterior com mesmo tamanho que as palavras -->
  
    <!-- Painel de Formação de Frase -->
    <div layout:replace="fragmentos/prancha/painelFormacao :: painel-frag"></div>
  
    <!-- Painéis de Seleção de Palavras -->
    <div id="painel-palavra">
      
      <!-- Painel de Seleção de Palavra -->
      <div layout:replace="fragmentos/prancha/painelPalavra :: painel-frag(listaPalavra=${listaSujeito},
        tipoPalavra='sujeito', titulo='SUJEITOS')"></div>
    
      <div layout:replace="fragmentos/prancha/painelPalavra :: painel-frag(listaPalavra=${listaVerbo},
        tipoPalavra='verbo', titulo='VERBOS')"></div>
    
      <div layout:replace="fragmentos/prancha/painelPalavra :: painel-frag(listaPalavra=${listaComplemento},
        tipoPalavra='complemento', titulo='COMPLEMENTOS')"></div>
    
      <div layout:replace="fragmentos/prancha/painelPalavra :: painel-frag(listaPalavra=${listaDiverso},
        tipoPalavra='diverso', titulo='DIVERSOS')"></div>
  
    </div>
  
    <!-- Painel de Ações -->
    <div layout:replace="fragmentos/prancha/painelAcao :: painel-frag"></div>
  
  </div>

</main>

<footer>
  <!-- Adiciona o JS no rodapé -->
  <script layout:fragment="rodape-scripts-frag" th:src="@{/js/prancha-comunicacao.js}"></script>
</footer>

</body>

</html>