<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body layout:fragment="painel-frag">

<section id="secao-acao" class="card secao-selecionavel">
  <h5 class="card-header">AÇÕES</h5>
  <div class="painel-secao">
  
    <div layout:replace="fragmentos/prancha/itemAcao :: item-frag(id='botao-acao-falar',
        texto='FALAR', icone='fa-volume-up')"></div>
  
    <div layout:replace="fragmentos/prancha/itemAcao :: item-frag(id='botao-acao-apagar-ultimo',
        texto='APAGAR ÚLTIMO', icone='fa-times-circle')"></div>
  
    <div layout:replace="fragmentos/prancha/itemAcao :: item-frag(id='botao-acao-voltar',
        texto='VOLTAR A SELEÇÃO', icone='fa-arrow-up')"></div>
  
    <div layout:replace="fragmentos/prancha/itemAcao :: item-frag(id='botao-acao-recomecar',
        texto='RECOMEÇAR', icone='fa-undo')"></div>
  
  </div>
</section>

</body>

</html>